<%# 1食で摂取するべき栄養量 %>
<% need_vitaminA = 300 %>
<% need_vitaminB1 = 0.5 %>
<% need_vitaminB2 = 0.6 %>
<% need_vitaminB3 = 6 %>
<% need_vitaminB5 = 2.5 %>
<% need_vitaminB6 = 0.5 %>
<% need_vitaminB12 = 0.8 %>
<% need_vitaminC = 30 %>
<% need_vitaminD = 3 %>
<% need_vitaminE = 2.5 %>

<%#レシピごとに摂取できる栄養素量%>
<% recipe_vitaminA = 0 %>
<% recipe_vitaminB1 = 0 %>
<% recipe_vitaminB2 = 0 %>
<% recipe_vitaminB3 = 0 %>
<% recipe_vitaminB5 = 0 %>
<% recipe_vitaminB6 = 0 %>
<% recipe_vitaminB12 = 0 %>
<% recipe_vitaminC = 0 %>
<% recipe_vitaminD = 0 %>
<% recipe_vitaminE = 0 %>

<% num = 0 %>

<h3 class = "mt-5 mb-5"><span class = "border border-dark pr-3 pl-3 pt-2 pb-2 rounded" >提案レシピ</span></h3>
<table>    
  <tbody>
    <tr>
      <td class = "pb-4 pr-4">不足栄養素</td>
      <td class = "pb-4 pr-4">不足量　</td>
      <td class = "pb-4 pr-4">提案レシピ</td>
    </tr>
    <tr class = "border-top border-bottom  border-dark">
    <% need_vitaminA = need_vitaminA - vitaminA %>
    <% if need_vitaminA > 0 %>
      <td class = "pb-4 pr-4 pt-4"><%= "ビタミンA" %></td>
      <td class = "pb-4 pr-4 pt-4"><%= need_vitaminA.round %><%= "μg" %></td>
      <td class = "pb-4 pr-4 pt-4">
      <% @all_recipes.each do |recipe| %>
        <% recipe.ingredients.each do |ingredient| %>
          <% ingredient.recipe_ingredients.each do |recipe_ingredient| %>
            <% recipe_vitaminA += ingredient.vitaminA*recipe_ingredient.quantity %>
          <% end %>
          <% end %>
          <% if need_vitaminA < recipe_vitaminA %>
            <% if num == 3 %>
              <% num = 0 %>
              <% break %>
            <% end %>
            <%= num += 1 %>.
            <%= recipe.name %>
          <% end %>
        <% end %>
      </td>
    <% end %>
    </tr>
          
    <tr class="border-top border-bottom  border-dark">
    <% need_vitaminB1 = need_vitaminB1 - vitaminB1 %>
    <% if need_vitaminB1 > 0 %>
      <td class="pb-4 pr-4 pt-4"><%= "ビタミンB1" %></td>
      <td class="pb-4 pr-4 pt-4"><%= need_vitaminB1.round(1) %><%="mg"%></td>
      <td class="pb-4 pr-4 pt-4">
      <% @all_recipes.each do |recipe| %>
        <% recipe.ingredients.each do |ingredient| %>
          <% ingredient.recipe_ingredients.each do |recipe_ingredient| %>
            <% recipe_vitaminB1 += ingredient.vitaminB1*recipe_ingredient.quantity %>
          <% end %>
          <% end %>
          <% if need_vitaminB1 < recipe_vitaminB1 %>
            <% if num == 3 %>
              <% num = 0 %>
              <% break %>
            <% end %>
            <%= num += 1 %>.
            <%= recipe.name %>
          <% end %>
        <% end %>
      </td>
    <% end %>
    </tr>
    
    <tr class="border-top border-bottom  border-dark">
    <% need_vitaminB2 = need_vitaminB2 - vitaminB2 %>
    <% if need_vitaminB2 > 0 %>
      <td class="pb-4 pr-4 pt-4"><%= "ビタミンB2" %></td>
      <td class="pb-4 pr-4 pt-4"><%= need_vitaminB1.round(1) %><%="mg"%></td>
      <td class="pb-4 pr-4 pt-4">
      <% @all_recipes.each do |recipe| %>
        <% recipe.ingredients.each do |ingredient| %>
          <% ingredient.recipe_ingredients.each do |recipe_ingredient| %>
            <% recipe_vitaminB1 += ingredient.vitaminB1*recipe_ingredient.quantity %>
          <% end %>
          <% end %>
          <% if need_vitaminB2 < recipe_vitaminB2 %>
            <% if num == 3 %>
              <% num = 0 %>
              <% break %>
            <% end %>
            <%= num += 1 %>.
            <%= recipe.name %>
          <% end %>
        <% end %>
      </td>
    <% end %>
    </tr>
          
    <tr class="border-top border-bottom  border-dark">
    <% need_vitaminB3 = need_vitaminB3 - vitaminB3 %>
    <% if need_vitaminB3 > 0 %>
      <td class="pb-4 pr-4 pt-4"><%= "ビタミンB3" %></td>
      <td class="pb-4 pr-4 pt-4"><%= need_vitaminB3.round(1) %><%="mg"%></td>
      <td class="pb-4 pr-4 pt-4">
      <% @all_recipes.each do |recipe| %>
        <% recipe.ingredients.each do |ingredient| %>
          <% ingredient.recipe_ingredients.each do |recipe_ingredient| %>
            <% recipe_vitaminB3 += ingredient.vitaminB3*recipe_ingredient.quantity %>
          <% end %>
          <% end %>
          <% if need_vitaminB3 < recipe_vitaminB3 %>
            <% if num == 3 %>
              <% num = 0 %>
              <% break %>
            <% end %>
            <%= num += 1 %>.
            <%= recipe.name %>
          <% end %>
        <% end %>
      </td>
    <% end %>
    </tr>
    
    <tr class="border-top border-bottom  border-dark">
    <% need_vitaminB5 = need_vitaminB5 - vitaminB5 %>
    <% if need_vitaminB1 > 0 %>
      <td class="pb-4 pr-4 pt-4"><%= "ビタミンB5" %></td>
      <td class="pb-4 pr-4 pt-4"><%= need_vitaminB5.round(1) %><%="mg"%></td>
      <td class="pb-4 pr-4 pt-4">
      <% @all_recipes.each do |recipe| %>
        <% recipe.ingredients.each do |ingredient| %>
          <% ingredient.recipe_ingredients.each do |recipe_ingredient| %>
            <% recipe_vitaminB5 += ingredient.vitaminB5*recipe_ingredient.quantity %>
          <% end %>
          <% end %>
          <% if need_vitaminB5 < recipe_vitaminB5 %>
            <% if num == 3 %>
              <% num = 0 %>
              <% break %>
            <% end %>
            <%= num += 1 %>.
            <%= recipe.name %>
          <% end %>
        <% end %>
      </td>
    <% end %>
    </tr>
    
    <tr class="border-top border-bottom  border-dark">
    <% need_vitaminB6 = need_vitaminB6 - vitaminB6 %>
    <% if need_vitaminB6 > 0 %>
      <td class="pb-4 pr-4 pt-4"><%= "ビタミンB6" %></td>
      <td class="pb-4 pr-4 pt-4"><%= need_vitaminB6.round(1) %><%="mg"%></td>
      <td class="pb-4 pr-4 pt-4">
      <% @all_recipes.each do |recipe| %>
        <% recipe.ingredients.each do |ingredient| %>
          <% ingredient.recipe_ingredients.each do |recipe_ingredient| %>
            <% recipe_vitaminB6 += ingredient.vitaminB6*recipe_ingredient.quantity %>
          <% end %>
          <% end %>
          <% if need_vitaminB6 < recipe_vitaminB6 %>
            <% if num == 3 %>
              <% num = 0 %>
              <% break %>
            <% end %>
            <%= num += 1 %>.
            <%= recipe.name %>
          <% end %>
        <% end %>
      </td>
    <% end %>
    </tr>
    
    <tr class="border-top border-bottom  border-dark">
    <% need_vitaminB12 = need_vitaminB12 - vitaminB12 %>
    <% if need_vitaminB12 > 0 %>
      <td class="pb-4 pr-4 pt-4"><%= "ビタミンB12" %></td>
      <td class="pb-4 pr-4 pt-4"><%= need_vitaminB12.round(1) %><%="μg"%></td>
      <td class="pb-4 pr-4 pt-4">
      <% @all_recipes.each do |recipe| %>
        <% recipe.ingredients.each do |ingredient| %>
          <% ingredient.recipe_ingredients.each do |recipe_ingredient| %>
            <% recipe_vitaminB12 += ingredient.vitaminB12*recipe_ingredient.quantity %>
          <% end %>
          <% end %>
          <% if need_vitaminB12 < recipe_vitaminB12 %>
            <% if num == 3 %>
              <% num = 0 %>
              <% break %>
            <% end %>
            <%= num += 1 %>.
            <%= recipe.name %>
          <% end %>
        <% end %>
      </td>
    <% end %>
    </tr>
    
    <tr class="border-top border-bottom  border-dark">
    <% need_vitaminC = need_vitaminC - vitaminC %>
    <% if need_vitaminC > 0 %>
      <td class="pb-4 pr-4 pt-4"><%= "ビタミンC" %></td>
      <td class="pb-4 pr-4 pt-4"><%= need_vitaminC.round(1) %><%="mg"%></td>
      <td class="pb-4 pr-4 pt-4">
      <% @all_recipes.each do |recipe| %>
        <% recipe.ingredients.each do |ingredient| %>
          <% ingredient.recipe_ingredients.each do |recipe_ingredient| %>
            <% recipe_vitaminC += ingredient.vitaminC*recipe_ingredient.quantity %>
          <% end %>
          <% end %>
          <% if need_vitaminC < recipe_vitaminC %>
            <% if num == 3 %>
              <% num = 0 %>
              <% break %>
            <% end %>
            <%= num += 1 %>.
            <%= recipe.name %>
          <% end %>
        <% end %>
      </td>
    <% end %>
    </tr>
    
    <tr class="border-top border-bottom  border-dark">
    <% need_vitaminD = need_vitaminD - vitaminD %>
    <% if need_vitaminD > 0 %>
      <td class="pb-4 pr-4 pt-4"><%= "ビタミンD" %></td>
      <td class="pb-4 pr-4 pt-4"><%= need_vitaminD.round(1) %><%="μg"%></td>
      <td class="pb-4 pr-4 pt-4">
      <% @all_recipes.each do |recipe| %>
        <% recipe.ingredients.each do |ingredient| %>
          <% ingredient.recipe_ingredients.each do |recipe_ingredient| %>
            <% recipe_vitaminD += ingredient.vitaminD*recipe_ingredient.quantity %>
          <% end %>
          <% end %>
          <% if need_vitaminD < recipe_vitaminD %>
            <% if num == 3 %>
              <% num = 0 %>
              <% break %>
            <% end %>
            <%= num += 1 %>.
            <%= recipe.name %>
          <% end %>
        <% end %>
      </td>
    <% end %>
    </tr>
    
    <tr class="border-top border-bottom border-dark">
    <% need_vitaminE = need_vitaminE - vitaminE %>
    <% if need_vitaminE > 0 %>
      <td class="pb-4 pr-4 pt-4"><%= "ビタミンE" %></td>
      <td class="pb-4 pr-4 pt-4"><%= need_vitaminE.round(1) %><%="mg"%></td>
      <td class="pb-4 pr-4 pt-4">
      <% @all_recipes.each do |recipe| %>
        <% recipe.ingredients.each do |ingredient| %>
          <% ingredient.recipe_ingredients.each do |recipe_ingredient| %>
            <% recipe_vitaminE += ingredient.vitaminE*recipe_ingredient.quantity %>
          <% end %>
          <% end %>
          <% if need_vitaminE < recipe_vitaminE %>
            <% if num == 3 %>
              <% num = 0 %>
              <% break %>
            <% end %>
            <%= num += 1 %>.
            <%= recipe.name %>
          <% end %>
        <% end %>
      </td>
    <% end %>
    </tr>
  </tbody>
</table>