<!DOCTYPE html>
<html>
  <head>
    <title>HEM</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application'%>
    <%= favicon_link_tag('fabicon.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body class="background">
    <% if user_signed_in? %>
      <ul class="list-inline w-100 p-3 border-bottom border-dark">
        <li class="list-inline-item">
          <%= link_to user_path(current_user),class:"text-dark" do %>
            <%= image_tag 'fabicon.png',class:"pb-1",style:"width:20px" %>
          <% end %>
        </li>
        <li class="list-inline-item"><b><%= link_to "レシピ投稿",new_recipe_path,class:"text-dark" %></b></li>
        <li class="list-inline-item"><b><%= link_to "レシピ一覧",recipes_path,class:"text-dark" %></b></li>
        <li class="list-inline-item"><b><%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:"text-dark" %></b></li>
      </ul>
    <% else %>
      <ul class="list-inline w-100 p-3 border-bottom border-dark">
        <li class="list-inline-item ">
          <%= link_to root_path,class:"text-dark" do %>
            <%= image_tag 'fabicon.png',class:"pb-1",style:"width:20px" %>
            <b>トップ</b>
          <% end %>
        </il>
        <li class="list-inline-item"><i class="fas fa-pencil-alt ml-2"></i><b><%= link_to "会員登録", new_user_registration_path,class:"text-dark" %></b></li>
        <li class="list-inline-item"><i class="fas fa-sign-in-alt ml-2"></i><b><%= link_to "ログイン", new_user_session_path,class:"text-dark" %></b></li>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>