<!DOCTYPE html>
<html>
  <head>
    <title>HEM</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('fabicon.png') %>
  </head>

  <body class="background">
    <% if user_signed_in? %>
      <ul class="list-inline w-100 p-3 border-bottom border-dark">
        <li class="list-inline-item ">
          <%= link_to user_path(current_user.id) do %>
            <%= image_tag 'fabicon.png',style:"width:25px" %>
          <% end %>
        </il>
        <li class="list-inline-item "><%= link_to "トップ",user_path(current_user.id) %></li>
        <li class="list-inline-item"><%= link_to "レシピ投稿",new_recipe_path %></li>
        <li class="list-inline-item"><%= link_to "レシピ一覧",recipes_path %></li>
        <li class="list-inline-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      </ul>
    <% else %>
      <ul class="list-inline w-100 p-3 border-bottom border-dark">
        <li class="list-inline-item ">
          <%= link_to root_path do %>
            <%= image_tag 'fabicon.png',style:"width:25px" %>
          <% end %>
        </il>
        <li class="list-inline-item"><%= link_to "トップ","/" %></li>
        <li class="list-inline-item"><%= link_to "会員登録", new_user_registration_path %></li>
        <li class="list-inline-item"><%= link_to "ログイン", new_user_session_path %></li>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
