<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12- mt-5" >
  <% if @user.errors.any? %>
    <h2><%= "エラーが発生しました" %></h2>
    <ol>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ol>
  <% end %>
  <%= form_with model:@user, url:"/users/#{@user.id}", local:true do |f| %>
    <h2 class = "mb-3" >名前</h2>
    <%= f.text_field:name,:size => "15" %>
    <h2 class = "mb-3 mt-3" >プロフィール画像</h2>
    <%= attachment_image_tag @user, :image, size: '75x75', fallback: "user.png", class: "mt-4" %></br>
    <%= f.attachment_field:image, class: "mt-4" %>
    <h2 class = "mb-3 mt-3" >紹介文</h2>
    <%= f.text_area:introduction,:size => "47x5" %></br>
    <%= f.submit "保存", class: "btn btn-success mt-4", style:"width:360px" %>
  <% end %>
</div>