<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12- mt-5" >
  <% if @user.errors.any? %>
    <h2><%= "エラーが発生しました" %></h2>
    <ol>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ol>
  <% end %>
  <h3>プロフィール編集</h3>
  <%= form_with model:@user, url:"/users/#{@user.id}", local:true do |f| %>
    <table border=2>
      <tr>
        <td class="p-2">名前</td>
        <td class="p-2"><%= f.text_field:name,style:"width:250px" %></td>
   　  </tr>
   　  <tr>
   　    <td class="p-2">画像  </td>    
   　    <td class="p-2"> <%= attachment_image_tag @user, :image, size: '50x50', fallback: "user.png", class: "mt-2" %><%= f.attachment_field:image, class: "mt-2" %> </td>
      </tr>
      <tr>
        <td class="p-2">紹介文</td>
        <td class="p-2"><%= f.text_area:introduction,style:"width:250px;height:300px;resize:none;"%></td>
      </tr>
    </table>
    <%= f.submit "保存", class: "btn btn-secondary mt-4",style:"width:350px" %>
  <% end %>
</div>
<%= render partial: "layouts/footer" %>