<div class = "container-fluid" >
  <div class = "row" >
    <div class = "col-md-8 col-lg-8 col-xl-9">
      <div class = "row">
        <div class = "col-md-12 col-lg-12 col-xl-6">
          <h4 class = "mt-5 mb-5" >
            <span class = "border border-dark pr-5 pl-5 pt-2 pb-2 rounded" >プロフィール<span>
          </h4>
          <div>
            <%= form_with model:@user do |f|%>
              <div class = "mt-2 mb-2 ml-2">
                <%= attachment_image_tag @user, :image, size: '60x60', fallback: "user.png" %>
                <%= f.text_field :name, readonly:true,size:17%>
              </div>　
            <% end %>
          </div>
          <div>
            <textarea readonly style = "height:200px;width:240px;resize:none;"><%= @user.introduction%></textarea>
          </div>
          <% if @user == current_user %>
            <%= link_to edit_user_path, class: 'btn btn-secondary mt-2 mb-2',style:"width:240px" do %>
              <i class="fas fa-edit"></i>　編集
            <% end %>
          <% end %>
          <h4 class = "mt-5 mb-5 w-100" >
            <span class = "border border-dark pr-5 pl-5 pt-2 pb-2 rounded" >　食事記録　<span>
          </h4>
          <h4 class = "mt-4 mb-4" >
            <span class = "border rounded border-dark pr-4 pl-4 pt-2 pb-2">朝食</span>
            <% if @user == current_user %>
              <%= link_to new_breakfast_path, class: 'btn btn-secondary ml-3',style:"width:120px" do %>
                <i class="fas fa-save"></i>　記録
              <% end %>
            <% end %>
          </h4>
          <h4 class="mt-4 mb-4">
            <span class = "border rounded border-dark pr-4 pl-4 pt-2 pb-2">昼食</span>
            <% if @user == current_user %>
              <%= link_to new_lunch_path, class: 'btn btn-secondary ml-3',style:"width:120px" do %>
                <i class="fas fa-save"></i>　記録
              <% end %>
            <% end %>
          </h4>
          <h4 class="mt-4 mb-4">
            <span class = "border rounded border-dark pr-4 pl-4 pt-2 pb-2">夕食</span>
            <% if @user == current_user %>
              <%= link_to new_dinner_path, class: 'btn btn-secondary ml-3',style:"width:120px" do %>
                <i class="fas fa-save"></i>　記録
              <% end %>
            <% end %>
          </h4>
        </div>
        <div class = "col-md-12 col-lg-12 col-xl-6">
          <h3 class = "mt-5 mb-5">
            <span class = "border border-dark  pr-4 pl-4 pt-2 pb-2 rounded">　レシピ一覧　<span>
          </h3>
          <table>
            <thead>
              <tr>
                <td class = "pb-2">レシピ名</td>
                <td>　</td>
              </tr>
            </thead>
            <tbody>
            <% @recipes.each do |recipe| %>
              <tr class = "border-bottom border-top border-dark">
                <% if recipe.user == current_user %>
                  <td class = "pt-2 pb-2 w-50"><%= link_to "#{recipe.name}",recipe_path(recipe),class:"text-dark" %></td>
                  <td class = "pt-2 pb-2">　<%= link_to "編集", edit_recipe_path(recipe.id), class: "btn btn-secondary p-1" %></td>
                  <td class = "pt-2 pb-2">　<%= link_to "削除", recipe_path(recipe.id), method: :delete, class: "btn btn-dark p-1" %></td>
                <% else %>
                  <td class = "pt-2 pb-2 w-100"><%= link_to "#{recipe.name}",recipe_path(recipe) %></td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class = "col-md-4 col-lg-4 col-xl-3 border1">
      <h4 class = "mb-5 mt-5"><span class = "border border-dark rounded pt-2 pb-2 pr-3 pl-3">★使用方法</span></h4>
      <h4>1⃣食事内容をレシピとして投稿しよう</h4>
      <h4>2⃣投稿したレシピを食事記録に残そう</h4>
      <h4>3⃣不足栄養素を補うレシピが表示されるよ</h4>
    </div>
  </div>
</div>