<h2><span class="border">プロフィール<span></h2>
<span><%= @user.name %></span>
<span><%= @user.introduction %></span>
<span>紹介文</span>
<%= link_to "編集する",edit_user_path,class: 'btn btn-success' %>
<h2><span class="border">食事記録<span></h2>
<h4><span class="border rounded">朝食</span>　<%= link_to "編集する",edit_user_path,class: 'btn btn-success' %></h4>
<h4><span class="border rounded">昼食</span>　<%= link_to "編集する",edit_user_path,class: 'btn btn-success' %></h4>
<h4><span class="border rounded">夕食</span>　<%= link_to "編集する",edit_user_path,class: 'btn btn-success' %></h4>
<h2><span class="border">投稿レシピ一覧<span></h2>
<table>
  <thead>
    <tr>
      <td>レシピ名</td>
      <td>　</td>
     </tr>
  </thead>
  <tbody>
    <% @recipes.each do |resipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= link_to "編集する",edit_user_path,class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table> 
  
  