<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2 class="mt-5 mb-5">食事記録(朝食分)</h2>
      <h4>メニュー検索</h4>
      <%= form_tag(new_breakfast_path,:method=>"get")do %>
        <%= text_field_tag :search %>
        <%= submit_tag "Serch" %>
      <% end %>
      <% @recipes.each do |recipe| %>
        <div class="pt-2 pb-2"><%= recipe.name %></div>
        <%= button_to "追加",{controller: 'breakfast_recipes', action: 'create' }, {method: :post,params: {recipe_id: recipe.id}}%></br>
      <% end %>
      <h4 class="mb-5 mt-5">使用レシピ</h4>
      <table>
        <thead>
          <tr>
            <td class="pb-4 pr-4">レシピ名</td>
            <td class="pb-4 pr-4">削除</td>
          </tr>
        </thead>
        <tbody>
        <% @breakfast_recipes.each do |breakfast_recipe| %>
        <tr class="border-top border-bottom">
          <td class="pb-4 pr-4 pt-4"><%= breakfast_recipe.recipe.name %></td>
          <td class="pb-4 pr-4 pt-4"><%= link_to "削除",breakfast_recipe_path(breakfast_recipe.id),method: :delete %></td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<div>
