<h2>メニュー検索</h2>
<%= form_tag(new_breakfast_path,:method=>"get")do %>
  <%= text_field_tag :search %>
  <%= submit_tag "Serch" %>
<% end %>
<% @recipes.each do |recipe| %>
  <%= recipe.name %>
  <%= button_to "追加",{controller: 'breakfast_recipes', action: 'create' }, {method: :post,params: {recipe_id: recipe.id}}%></br>
<% end %>
<h2>使用レシピ</h2>
<table>
  <thead>
    <tr>
      <td>レシピ名</td>
      <td>削除</td>
    </tr>
  </thead>
  <tbody>
    <% @breakfast_recipes.each do |breakfast_recipe| %>
      <tr>
        <td><%= breakfast_recipe.recipe.name %></td>
        <td><%= link_to "削除",breakfast_recipe_path(breakfast_recipe.id),method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
