<div class = "container">
  <div class = "row">
    <div class = "col-md-3">
      <h2 class = "mt-5 mb-5">食事記録(朝食分)</h2>
      <h4>メニュー検索</h4>
      <%= form_tag(new_breakfast_path, :method=>"get" )do %>
        <%= text_field_tag :search %>
        <%= submit_tag "Serch" %>
      <% end %>
      <% @search_recipes.each do |recipe| %>
        <div class = "pt-2 pb-2"><%= link_to "#{recipe.name}", recipe_path(recipe.id) %></div>
        <%= button_to "追加", {controller: 'breakfast_recipes', action: 'create' }, {method: :post,params: {recipe_id: recipe.id}} %></br>
      <% end %>
    </div>
    
    <%# 1食で摂取するべき栄養量 %>
    <% need_vitaminA = 300 %>
    <% need_vitaminB1 = 0.5 %>
    <% need_vitaminB2 = 0.6 %>
    <% need_vitaminB3 = 6 %>
    <% need_vitaminB5 = 2.5 %>
    <% need_vitaminB6 = 0.5 %>
    <% need_vitaminB12 = 0.8 %>
    <% need_vitaminC = 30 %>
    <% need_vitaminD = 3 %>
    <% need_vitaminE = 2.5 %>
    
    <%# 1食で取得できる栄養素量 %>
    <% vitaminA = 0 %>
    <% vitaminB1 = 0 %>
    <% vitaminB2 = 0 %>
    <% vitaminB3 = 0 %>
    <% vitaminB5 = 0 %>
    <% vitaminB6 = 0 %>
    <% vitaminB12 = 0 %>
    <% vitaminC = 0 %>
    <% vitaminD = 0 %>
    <% vitaminE = 0 %>
    
    <%#レシピごとに摂取できる栄養素量%>
    <% recipe_vitaminA = 0 %>
    <% recipe_vitaminB1 = 0 %>
    <% recipe_vitaminB2 = 0 %>
    <% recipe_vitaminB3 = 0 %>
    <% recipe_vitaminB5 = 0 %>
    <% recipe_vitaminB6 = 0 %>
    <% recipe_vitaminB12 = 0 %>
    <% recipe_vitaminC = 0 %>
    <% recipe_vitaminD = 0 %>
    <% recipe_vitaminE = 0 %>
    
    <% num = 0 %>
    
    <% user_breakfast = current_user.breakfast %>
    <% user_breakfast.recipes.each do |breakfast_recipe| %>
      <% breakfast_recipe.ingredients.each do |breakfast_ingredient| %>
        <% breakfast_ingredient.recipe_ingredients.each do |recipe_ingredient|  %>
          <% vitaminA += breakfast_ingredient.vitaminA*recipe_ingredient.quantity %>
          <% vitaminB1 += breakfast_ingredient.vitaminB1*recipe_ingredient.quantity %>
          <% vitaminB2 += breakfast_ingredient.vitaminB2*recipe_ingredient.quantity %>
          <% vitaminB3 += breakfast_ingredient.vitaminB3*recipe_ingredient.quantity %>
          <% vitaminB5 += breakfast_ingredient.vitaminB5*recipe_ingredient.quantity %>
          <% vitaminB6 += breakfast_ingredient.vitaminB6*recipe_ingredient.quantity %>
          <% vitaminB12 += breakfast_ingredient.vitaminB12*recipe_ingredient.quantity %>
          <% vitaminC += breakfast_ingredient.vitaminC*recipe_ingredient.quantity %>
          <% vitaminD += breakfast_ingredient.vitaminD*recipe_ingredient.quantity %>
          <% vitaminE += breakfast_ingredient.vitaminE*recipe_ingredient.quantity %>
        <% end %>
      <% end %>
    <% end %>
    
    <div class = "col-md-3">
      <h2 class = "mb-5 mt-5">使用レシピ</h2>
      <table>
        <thead>
          <tr>
            <td class = "pb-4 pr-4">レシピ名</td>
            <td class = "pb-4 pr-4">削除</td>
          </tr>
        </thead>
        <tbody>
        <% @all_breakfast_recipes.each do |breakfast_recipe| %>
          <tr class = "border-top border-bottom">
            <td class = "pb-4 pr-4 pt-4"><%= breakfast_recipe.recipe.name %></td>
            <td class = "pb-4 pr-4 pt-4"><%= link_to "削除", breakfast_recipe_path(breakfast_recipe.id), method: :delete %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    
    <div class = "col-md-6">
      <h2 class = "mt-5 mb-5">提案レシピ</h2>
      <table>    
        <tbody>
          <tr>
            <td class = "pb-4 pr-4">不足栄養素</td>
            <td class = "pb-4 pr-4">不足量</td>
            <td class = "pb-4 pr-4">提案レシピ</td>
         </tr>
         
         <tr class = "border-top border-bottom">
         <% need_vitaminA = need_vitaminA - vitaminA %>
         <% if need_vitaminA > 0 %>
           <td class = "pb-4 pr-4 pt-4"><%= "ビタミンA" %></td>
           <td class = "pb-4 pr-4 pt-4"><%= need_vitaminA.round %><%= "μg" %></td>
           <td class = "pb-4 pr-4 pt-4">
           <% @all_recipes.each do |recipe| %>
             <% recipe.ingredients.each do |ingredient| %>
               <% ingredient.recipe_ingredients.each do |recipe_ingredient| %>
                 <% recipe_vitaminA += ingredient.vitaminA*recipe_ingredient.quantity %>
               <% end %>
             <% end %>
             <% if need_vitaminA < recipe_vitaminA %>
               <% if num == 3 %>
                 <% num = 0 %>
                 <% break %>
               <% end %>
               <%= num += 1 %>.
               <%= recipe.name %>
             <% end %>
           <% end %>
           </td>
         <% end %>
        </tr>
        
        <tr class = "border-top border-bottom">
        <% need_vitaminB1 = need_vitaminB1 - vitaminB1 %>
        <% if need_vitaminB1 > 0 %>
          <td class = "pb-4 pr-4 pt-4"><%= "ビタミンB1" %></td>
          <td class = "pb-4 pr-4 pt-4"><%= need_vitaminB1.round(1) %><%= "mg" %></td>
          <td class = "pb-4 pr-4 pt-4">
            <% @all_recipes.each do |recipe| %>
              <% recipe.ingredients.each do |ingredient| %>
                <% ingredient.recipe_ingredients.each do |recipe_ingredient| %>
                  <% recipe_vitaminB1 += ingredient.vitaminB1*recipe_ingredient.quantity %>
                <% end %>
              <% end %>
              <% if need_vitaminB1 < recipe_vitaminB1 %>
                <% if num == 3 %>
                  <% num = 0 %>
                  <% break %>
                <% end %>
                <%= num += 1 %>.
                <%= recipe.name %>
              <% end %>
            <% end %>
          </td>
        <% end %>
        </tr>
        
        <tr class = "border-top border-bottom">
        <% need_vitaminB2 = need_vitaminB2 - vitaminB2 %>
        <% if need_vitaminB2 > 0 %>
          <td class = "pb-4 pr-4 pt-4"><%= "ビタミンB2" %></td>
          <td class = "pb-4 pr-4 pt-4"><%= need_vitaminB2.round(1) %><%= "mg" %></td>
          <td class = "pb-4 pr-4 pt-4">
            <% @all_recipes.each do |recipe| %>
              <% recipe.ingredients.each do |ingredient| %>
                <% recipe.recipe_ingredients.each do |recipe_ingredient| %>
                  <% recipe_vitaminB2 += ingredient.vitaminB2*recipe_ingredient.quantity %>
                <% end %>
              <% end %>
              <% if need_vitaminB2 < recipe_vitaminB2 %>
                <% if num == 3 %>
                  <% num = 0 %>
                  <% break %>
                <% end %>
                <%= num += 1 %>.
                <%= recipe.name %>
              <% end %>
            <% end %>
          </td>
        <% end %>
        </tr>
        
        <tr class = "border-top border-bottom">
        <% need_vitaminB3 = need_vitaminB3 - vitaminB3 %>
        <% if need_vitaminB3 > 0 %>
          <td class = "pb-4 pr-4 pt-4"><%= "ビタミンB3" %></td>
          <td class = "pb-4 pr-4 pt-4"><%= need_vitaminB3.round(1) %><%= "mg" %></td>
          <td class = "pb-4 pr-4 pt-4">
          <% @all_recipes.each do |recipe| %>
            <% recipe.ingredients.each do |ingredient| %>
              <% ingredient.recipe_ingredients.each do |recipe_ingredient| %>
                <% recipe_vitaminB3 += ingredient.vitaminB3*recipe_ingredient.quantity %>
              <% end %>
            <% end %>
            <% if need_vitaminB3 < recipe_vitaminB3 %>
              <% if num == 3 %>
                <% num = 0 %>
                <% break %>
              <% end %>
                <%= num += 1 %>.
              <%= recipe.name %>
            <% end %>
          <% end %>
          </td>
        <% end %>
        </tr>
        
        <tr class = "border-top border-bottom">
        <% need_vitaminB5 = need_vitaminB5 - vitaminB5 %>
        <% if need_vitaminB5 > 0 %>
          <td class = "pb-4 pr-4 pt-4"><%= "ビタミンB5" %></td>
          <td class = "pb-4 pr-4 pt-4"><%= need_vitaminB5.round(1) %><%= "mg" %></td>
          <td class = "pb-4 pr-4 pt-4">
            <% @all_recipes.each do |recipe| %>
              <% recipe.ingredients.each do |ingredient| %>
                <% ingredient.recipe_ingredients.each do |recipe_ingredient| %>
                  <% recipe_vitaminB5 += ingredient.vitaminB5*recipe_ingredient.quantity %>
                <% end %>
              <% end %>
              <% if need_vitaminB5 < recipe_vitaminB5 %>
                <% if num == 3 %>
                  <% num = 0 %>
                  <% break %>
                <% end %>
                <%= num += 1 %>.
                <%= recipe.name %>
              <% end %>
            <% end %>
          </td>
        <% end %>
        </tr>
        
        <tr class = "border-top border-bottom">
        <% need_vitaminB5 = need_vitaminB5 - vitaminB5 %>
        <% if need_vitaminB5 > 0 %>
          <td class = "pb-4 pr-4 pt-4"><%= "ビタミンB5" %></td>
          <td class = "pb-4 pr-4 pt-4"><%= need_vitaminB5.round(1) %><%= "mg" %></td>
          <td class = "pb-4 pr-4 pt-4">
            <% @all_recipes.each do |recipe| %>
              <% recipe.ingredients.each do |ingredient| %>
                <% ingredient.recipe_ingredients.each do |recipe_ingredient| %>
                  <% recipe_vitaminB5 += ingredient.vitaminB5*recipe_ingredient.quantity %>
                <% end %>
              <% end %>
              <% if need_vitaminB5 < recipe_vitaminB5 %>
                <% if num == 3 %>
                  <% num = 0 %>
                  <% break %>
                <% end %>
                <%= num += 1 %>.
                <%= recipe.name %>
              <% end %>
            <% end %>
          </td>
        <% end %>
        </tr>
        
        <tr class = "border-top border-bottom">
        <% need_vitaminB6 = need_vitaminB6 - vitaminB6 %>
        <% if need_vitaminB6 > 0 %>
          <td class = "pb-4 pr-4 pt-4"><%= "ビタミンB6" %></td>
          <td class = "pb-4 pr-4 pt-4"><%= need_vitaminB6.round(1) %><%= "mg" %></td>
          <td class = "pb-4 pr-4 pt-4">
            <% @all_recipes.each do |recipe| %>
              <% recipe.ingredients.each do |ingredient| %>
                <% ingredient.recipe_ingredients.each do |recipe_ingredient| %>
                  <% recipe_vitaminB6 += ingredient.vitaminB6*recipe_ingredient.quantity %>
                <% end %>
              <% end %>
              <% if need_vitaminB6 < recipe_vitaminB6 %>
                <% if num == 3 %>
                  <% num = 0 %>
                  <% break %>
                <% end %>
                <%= num += 1 %>.
                <%= recipe.name %>
              <% end %>
            <% end %>
          </td>
        <% end %>
        </tr>
      
        <tr class = "border-top border-bottom">
        <% need_vitaminB12 = need_vitaminB12 - vitaminB12 %>
        <% if need_vitaminB12 > 0 %>
          <td class = "pb-4 pr-4 pt-4"><%= "ビタミンB12" %></td>
          <td class = "pb-4 pr-4 pt-4"><%= need_vitaminB12.round(1) %><%= "μg" %></td>
          <td class = "pb-4 pr-4 pt-4">
            <% @all_recipes.each do |recipe| %>
              <% recipe.ingredients.each do |ingredient| %>
                <% ingredient.recipe_ingredients.each do |recipe_ingredient| %>
                  <% recipe_vitaminB12 += ingredient.vitaminB12*recipe_ingredient.quantity %>
                <% end %>
              <% end %>
              <% if need_vitaminB12 < recipe_vitaminB12 %>
              <% if num ==3 %>
                  <% num = 0 %>
                  <% break %>
                <% end %>
                <%= num += 1 %>.
                <%= recipe.name %>
              <% end %>
            <% end %>
          </td>
        <% end %>
        </tr>
        
        <tr class = "border-top border-bottom">
        <% need_vitaminC = need_vitaminC - vitaminC %>
        <% if need_vitaminC > 0 %>
          <td class = "pb-4 pr-4 pt-4"><%= "ビタミンC" %></td>
          <td class = "pb-4 pr-4 pt-4"><%= need_vitaminC.round(1) %><%= "mg" %></td>
          <td class = "pb-4 pr-4 pt-4">
            <% @all_recipes.each do |recipe| %>
              <% recipe.ingredients.each do |ingredient| %>
                <% ingredient.recipe_ingredients.each do |recipe_ingredient| %>
                  <% recipe_vitaminC += ingredient.vitaminC*recipe_ingredient.quantity %>
                <% end %>
              <% end %>
              <% if need_vitaminC < recipe_vitaminC %>
              <% if num == 3 %>
                <% num = 0 %>
                <% break %>
              <% end %>
                <%= num += 1 %>.
                <%= recipe.name %>
              <% end %>
            <% end %>
          </td>
        <% end %>
        </tr>
        
        <tr class = "border-top border-bottom">
        <% need_vitaminD = need_vitaminD - vitaminD %>
        <% if need_vitaminD > 0 %>
          <td class = "pb-4 pr-4 pt-4"><%= "ビタミンD" %></td>
          <td class = "pb-4 pr-4 pt-4"><%= need_vitaminD.round(1) %><%= "μg" %></td>
          <td class = "pb-4 pr-4 pt-4">
            <% @all_recipes.each do |recipe| %>
              <% recipe.ingredients.each do |ingredient| %>
                <% ingredient.recipe_ingredients.each do |recipe_ingredient| %>
                  <% recipe_vitaminD += ingredient.vitaminD*recipe_ingredient.quantity %>
                <% end %>
              <% end %>
              <% if need_vitaminD < recipe_vitaminD %>
                <% if num ==3 %>
                  <% num = 0 %>
                  <% break %>
                <% end %>
                <%= num += 1 %>.
                <%= recipe.name %>/
              <% end %>
            <% end %>
          </td>
        <% end %>
        </tr>
        
        <tr class = "border-top border-bottom">
        <% need_vitaminE = need_vitaminE - vitaminE %>
        <% if need_vitaminE > 0 %>
          <td class = "pb-4 pr-4 pt-4"><%= "ビタミンE" %></td>
          <td class = "pb-4 pr-4 pt-4"><%= need_vitaminE.round(1) %><%= "mg" %></td>
          <td class = "pb-4 pr-4 pt-4">
            <% @all_recipes.each do |recipe| %>
              <% recipe.ingredients.each do |ingredient| %>
                <% ingredient.recipe_ingredients.each do |recipe_ingredient| %>
                  <% recipe_vitaminE += ingredient.vitaminE*recipe_ingredient.quantity %>
                <% end %>
              <% end %>
              <% if need_vitaminE < recipe_vitaminE %>
                 <% if num == 3 %>
                  <% num = 0 %>
                  <% break %>
                <% end %>
                <%= num += 1 %>.
                <%= recipe.name  %>
              <% end %>
            <% end %>
          </td>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>