<div class = "container">
  <div class = "row">
    <% if @recipe.errors.any? %>
      <h2><%= "エラーが発生しました" %></h2>
        <ol>
          <% @recipe.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ol>
    <% end %>
  </div>
  <div class = "row">
    <div class = "col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <h4 class= "mt-5 mb-5">食材検索</h4>
      <%= form_tag(edit_recipe_path(@recipe), :method=>"get")do %>
        <%= text_field_tag :search %>
        <%= submit_tag "Serch",class: "btn btn-secondary w-75 mt-3" %>
      <% end %>
      <% @ingredient.each do |ingredient| %>
        <%= ingredient.name %>
        <%= button_to "追加", {controller: 'draft_ingredients', action: 'create' }, {method: :post, params: {ingredient_id: ingredient.id}} %></br>
      <% end %>
      <%= form_with model:@recipe, local:true do |f| %>
        <h4 class = "mb-5 mt-5">レシピ名</h4>
        <%= f.text_field :name %>
        <h4 class = "mb-5 mt-5">調理手順</h4>
        <%= f.text_area :method,:size => "23x15" %></br>
        <%= f.submit "投稿", class: "btn btn-secondary mt-3 w-75" %>
      <% end %>
    </div>
    <div class = "col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 ml-3">
      <h4 class = "mb-5 mt-5">使用食材</h4>
      <table>
        <thead>
          <tr>
            <td>食材</td>
            <td>分量</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
        <% recipe_ingredients = @recipe.recipe_ingredients %>
        <% recipe_ingredients.each do |recipe_ingredient| %>
          <%= form_with model:recipe_ingredient, url:recipe_ingredient_path(recipe_ingredient), local:true do |f| %>
            <tr class = "border-top border-bottom  border-dark">
              <td class = "pt-2 pb-2"><%= recipe_ingredient.ingredient.name %></td>
              <td class = "pt-2 pb-2"><%=f.text_field :quantity,:size => "5"  %>　g　<%= f.submit "数量更新", class: "btn btn-secondary" %></td>
              <td class = "pt-2 pb-2 pl-2"><%= link_to "削除", recipe_ingredient_path(recipe_ingredient.id),method: :delete,class: "btn btn-dark"%></td>
            </tr>
          <% end %>
        <% end %>
        <% draft_ingredients = current_user.draft_ingredients%>
        <% draft_ingredients.each do |draft_ingredient| %>
          <%= form_with model:draft_ingredient, local:true do |f| %>
          <tr class = "border-top border-bottom  border-dark">
            <td class = "pt-2 pb-2"><%= draft_ingredient.ingredient.name %></td>
            <td class = "pt-2 pb-2"><%=f.text_field :quantity,:size => "5" %>　g　<%= f.submit "数量更新", class: "btn btn-secondary" %></td>
            <% end %>
            <td class = "pt-2 pb-2 pl-2"><%= link_to "削除", draft_ingredient_path(draft_ingredient.id), method: :delete,class: "btn btn-dark" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>