<div class = "container-fluid">
  <div class = "row">
    <% if @recipe.errors.any? %>
      <h2><%= "エラーが発生しました" %></h2>
        <ol>
          <% @recipe.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ol>
    <% end %>
  </div>
  <div class = "row">
    <div class = "col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <%= form_with model:@recipe, local:true do |f| %>
        <h3 class = "mb-5 mt-5"><span class ="border border-dark rounded pt-2 pb-2 pr-3 pl-3">レシピ名</span></h3>
        <%= f.text_field :name,class:"rounded",style:"width:150px" %>
        <h3 class = "mb-5 mt-5"><span class ="border border-dark rounded pt-2 pb-2 pr-3 pl-3">調理手順</span></h3>
        <%= f.text_area :method,class:"rounded",style:"width:150px;height:300px" %></br>
        <%= f.submit "投稿", class: "btn btn-secondary mt-3",style:"width:150px"  %>
      <% end %>
    </div>
    <div class = "col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
      <h3 class = "mb-5 mt-5"><span class ="border border-dark rounded pt-2 pb-2 pr-3 pl-3">使用食材</span></h3>
      <table>
        <thead>
          <tr>
            <td>食材</td>
            <td>分量</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
        <% recipe_ingredients = @recipe.recipe_ingredients %>
        <% recipe_ingredients.each do |recipe_ingredient| %>
          <%= form_with model:recipe_ingredient, url:recipe_ingredient_path(recipe_ingredient), local:true do |f| %>
            <tr class = "border-top border-bottom  border-dark">
              <td class = "pt-2 pb-2"><%= recipe_ingredient.ingredient.name %></td>
              <td class = "pt-2 pb-2"><%=f.text_field :quantity,:size => "5"  %>　g　</td>
              <td class = "pt-2 pb-2"><%= f.submit "確定", class: "btn btn-secondary",style:"width:100px" %></td>
              <td class = "pt-2 pb-2 pl-2"><%= link_to "削除", recipe_ingredient_path(recipe_ingredient.id),method: :delete,class: "btn btn-dark",style:"width:100px"%></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= render partial: "layouts/footer" %>