<div class =  "container-fluid">  
  <div class = "row">
    <div class = "col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
      <h3 class = "mt-5 mb-5"><span class="border border-dark p-2 rounded">投稿レシピ一覧</span></h3>
      <table>
        <thead>
          <tr class>
            <td></td>
            <td class="p-2">投稿者</td>
            <td class="p-2">レシピ名</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
        <% @recipes.each do |recipe| %>
          <tr class="border-top border-bottom border-dark">
            <td class="pt-2 pb-2"><%= attachment_image_tag recipe.user, :image,size:'50x50',fallback: "user.png"%></td>
            <td class="pr-2 pl-2"><%= link_to "#{recipe.user.name}",user_path(recipe.user),class:"text-dark"%></td>
            <td class="pr-2 pl-2"><%= link_to "#{recipe.name}",recipe_path(recipe),class:"text-dark" %></td>
            <% if recipe.user_id == current_user.id %>
            <td class="pl-2">
              <%= link_to edit_recipe_path(recipe.id),class: "btn btn-secondary p-1" do %>
                <i class="fas fa-edit w-25"></i>　編集
              <% end %>
            </td>
            <% else %>
            <td class="pl-2"></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render partial: "layouts/footer" %>  
  
  