<div class = "container-fluid">
  <div class = "row">
    <% if @recipe.errors.any? %>
      <h2><%= "エラーが発生しました" %></h2>
        <ol>
          <% @recipe.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ol>
    <% end %>
  </div>
  <div class = "row">
    <div class = "col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <h3 class = "mt-5 mb-5"><span class = "border border-dark rounded pt-2 pb-2 pr-3 pl-3">食材検索</h3>
      <%= form_tag(new_recipe_path, :method=>"get") do %>
        <%= text_field_tag :search,"",class:"rounded",style:"width:150px" %>
        <br><%= button_tag :type => "Serch",class:"rounded mt-3 btn btn-secondary",style:"width:150px" do %>
        <i class="fas fa-search"></i>　Search
        <% end %>
      <% end %>
      <% @ingredient.each do |ingredient| %>
        <%= ingredient.name%>
        <%= button_to "追加", {controller: 'draft_ingredients', action: 'create' }, {method: :post, params: {ingredient_id: ingredient.id}} %>
      <% end %>
      <%= form_with model:@recipe, local:true do |f| %>
        <h3 class = "mb-5 mt-5"><span class = "border border-dark rounded pt-2 pb-2 pr-3 pl-3">レシピ名</span></h3>
        <%= f.text_field :name,class:"rounded",style:"width:150px" %>
        <h3 class = "mb-5 mt-5"><span class = "border border-dark rounded pt-2 pb-2 pr-3 pl-3">調理手順</span></h3>
        <%= f.text_area :method, class: "rounded",style:"width:150px;height:300px" %></br>
        <%= f.button :type => "submit", class: "btn btn-secondary mt-3",style:"width:150px" do %>
          <i class="far fa-plus-square">　投稿する</i>
        <% end %>
      <% end %>
    </div>
    <div class = "col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-7 ">
      <h3 class = "mb-5 mt-5"><span class = "border border-dark rounded pt-2 pb-2 pr-3 pl-3">使用食材</span></h3>
      <table>
        <thead>
          <tr>
            <td>食材</td>
            <td>分量</td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
        <% draft_ingredients = current_user.draft_ingredients %>
        <% draft_ingredients.each do |draft_ingredient| %>
          <tr class = "border-top border-bottom  border-dark">
            <td class = "pt-2 pb-2"><%= draft_ingredient.ingredient.name %></td>
            <%= form_with model:draft_ingredient, local:true do |f| %>
            <td class = "pt-2 pb-2"><%=f.text_field :quantity,style:"width:40px" %>　g</td>
            <td><%= f.submit "確定", class: "btn btn-secondary",style:"width:60px" %></td>
            <% end %>
            <td class = "pt-2 pb-2"><%= link_to "削除", draft_ingredient_path(draft_ingredient.id), method: :delete, class: "btn btn-dark",style:"width:60px" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>