<div class = "container-fluid">
  <div class = "row">
    <div class =  "col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <%= form_with model:@recipe, local:true do |f| %>
        <h3 class = "mb-5 mt-5"><span class ="border border-dark rounded pt-2 pb-2 pr-3 pl-3">レシピ名</span></h3>
        <%= f.text_field :name,:readonly => true,class:"rounded",style:"width:150px" %>
        <h3 class = "mb-5 mt-5"><span class ="border border-dark rounded pt-2 pb-2 pr-3 pl-3">調理手順</span></h3>
        <%= f.text_area :method,:readonly => true,class:"rounded",style:"width:150px;height:300px" %></br>
      <% end %>
    </div>
    <div class = "col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
      <h3 class = "mb-5 mt-5"><span class ="border border-dark rounded pt-2 pb-2 pr-3 pl-3">使用食材</span></h3>
      <table>
        <thead>
          <tr>
            <td>食材</td>
            <td>分量</td>
          </tr>
        </thead>
        <tbody>
          <% recipe_ingredients = @recipe.recipe_ingredients %>
          <% recipe_ingredients.each do |recipe_ingredient| %>
            <tr class = "border-top border-bottom  border-dark">
              <td class = "pt-2 pb-2"><%= recipe_ingredient.ingredient.name %></td>
              <%= form_with model:recipe_ingredient, local:true do |f| %>
                <td class = "pt-2 pb-2"><%= f.text_field :quantity,:size => "1",:readonly => true %> g </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render partial: "layouts/footer" %>