<%= form_with model:@recipe,local:true do |f| %>
  <h2>レシピ名</h2>
  <%= f.text_field :name %>
  <h2>調理手順</h2>
  <%= f.text_area :method %></br>
<% end %>
<h2>使用食材</h2>
<table>
  <thead>
    <tr>
      <td>食材</td>
      <td>分量</td>
      <td>削除</td>
    </tr>
  </thead>
  <tbody>
    <% @recipe_ingredients.each do |recipe_ingredient| %>
      <tr class="border-top border-bottom">
        <td class="pt-2 pb-2"><%= recipe_ingredient.ingredient.name %></td>
        <%= form_with model:recipe_ingredient,local:true do|f|%>
          <td class="pt-2 pb-2"><%=f.text_field :quantity %>g</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>